<ng-template #input>
  <input type="text" placeholder="Поиск"
         (focus)="onFocus()"
         (blur)="onBlur()" />
</ng-template>

<ng-template #extensions>
  <div>
    <mat-checkbox>Проекты</mat-checkbox>
  </div>

  <div>
    <mat-checkbox>Люди</mat-checkbox>
  </div>
</ng-template>

<ng-container *ngIf="sidenavService.isBiggerMiddle">
  <div class="main"
       [ngClass]="{'active': isFocused || settingsAreActive}">
    <span matTooltip="Поиск">
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </span>

    <ng-container *ngTemplateOutlet="input"></ng-container>

    <span class="spacer"></span>

    <span matTooltip="Расширенные параметры поиска">
      <button mat-icon-button
              (click)="showSettings()"
              id="show-settings">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </span>
  </div>

  <div class="search-result"
       [ngClass]="{'active': isFocused}">
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>place</mat-icon>
        <p mat-line>г. Москва, ул. Широкая, д. 12А, 2, 3, 4 этажи (МТС ИТ), этаж 3,  3-06</p>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="settings-section"
       [ngClass]="{'active': settingsAreActive}"
       (clickOutside)="outsideClick($event)">
    <ng-container *ngTemplateOutlet="extensions"></ng-container>
  </div>
</ng-container>

<ng-container *ngIf="!sidenavService.isBiggerMiddle">
  <div class="mobile"
       (mobileClickOutside)="mobileOutsideClick($event)">
    <span matTooltip="Поиск">
      <button mat-icon-button
              (click)="showMobileSearch()">
        <mat-icon>search</mat-icon>
      </button>
    </span>

    <div class="container"
         [ngClass]="{'active': isMobileActive}">

      <span matTooltip="Расширенные параметры поиска">
        <button mat-icon-button
                (click)="showSettings()"
                id="show-settings">
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
      </span>
      
      <ng-container *ngTemplateOutlet="input"></ng-container>

      <span class="spacer"></span>

      <button mat-icon-button
              id="close">
        <mat-icon>close</mat-icon>
      </button>
    </div>


    <div class="search-result"
         [ngClass]="{'active': isFocused}">
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>place</mat-icon>
          <p mat-line>г. Москва, ул. Широкая, д. 12А, 2, 3, 4 этажи (МТС ИТ), этаж 3,  3-06</p>
        </mat-list-item>
      </mat-list>
    </div>

    <div class="settings-section"
         [ngClass]="{'active': settingsAreActive}"
         (clickOutside)="outsideClick($event)">
      <ng-container *ngTemplateOutlet="extensions"></ng-container>
    </div>
  </div>
</ng-container>
