<div class="main"
     [ngClass]="{'active': isFocused || settingsAreActive}">
  <span matTooltip="Search">
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </span>

  <input placeholder="Search" value=""
         (focus)="onFocus()"
         (blur)="onBlur()">

  <span class="spacer"></span>

  <span matTooltip="Search extension">
    <button mat-icon-button
            (click)="showSettings()"
            id="show-settings">
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </span>
</div>

<div class="search-result"
     [ngClass]="{'active': isFocused}">
  <mat-list>
    <mat-list-item>
      <mat-icon mat-list-icon>place</mat-icon>
      <p mat-line>г. Москва, ул. Широкая, д. 12А, 2, 3, 4 этажи (МТС ИТ), этаж 3,  3-06</p>
    </mat-list-item>
  </mat-list>
</div>

<div class="settings-section"
     [ngClass]="{'active': settingsAreActive}"
     (clickOutside)="outsideClick($event)">
  <div>
    <mat-checkbox>Projects</mat-checkbox>
  </div>

  <div>
    <mat-checkbox>People</mat-checkbox>
  </div>
</div>
