mat-toolbar {
  background-color: white !important;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  z-index: 10;

  & #home {
    height: 48px;
    margin-right: 45px;

    & > .item {
      height: 48px;
      display: inline-block;
      vertical-align: middle;

      & > img {
        height: 48px;
      }

      &.border {
        border: 1px solid #ED1C24;
        display: inline-block;
        height: 22px;
      }

      &.text {
        display: inline-block;
        color: rgba(227, 6, 19, 0.87);
        margin-left: 10px;
        font-size: 15px;
        padding-top: 8px;
        height: 40px;
      }
    }
  }

  & .nav {
    color: rgba(0, 0, 0, 0.38) !important;
  }

  & .toolbar-section {
    width: 36px;
    height: 36px;
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0;
    }

    & > mat-icon {
      margin: 9px;
    }
  }
}
