<mat-toolbar>
  <mat-toolbar-row>
    <a routerLink="" id="home">
      <div class="item">
        <img src="assets/mts-logo.png" alt=""/>
      </div>

      <div class="item border"></div>

      <div class="item text">Team</div>
    </a>

    <div class="search-section">
      <app-toolbar-search></app-toolbar-search>
    </div>

    <span class="spacer"></span>

    <div class="toolbar-section">
      <mat-icon>notifications</mat-icon>
    </div>

    <div class="toolbar-section">
      <app-toolbar-person></app-toolbar-person>
    </div>

  </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>
