/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

$my-app-primary: mat-palette($mat-grey, 300, 500, A500);
$my-app-accent: mat-palette($mat-red, 500, 900, A100);
$my-app-warn: mat-palette($mat-light-blue);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

@import "styles/font.css";
@import "styles/material-icons.css";

body {
  margin: 0;
  padding: 0;
}

.spacer {
  flex: 1 1 auto;
}
